/* fade Animation */

/* contactボタンアクション */

@keyframes togoContactAnime {
  0% {
    -webkit-text-stroke: 0.1rem var(--first-heading-char-coler);
  }

  80% {
    -webkit-text-stroke: 0.7rem #f1926f;
  }

  100% {
    -webkit-text-stroke: 1rem #f7f7ed;
  }
}

/* fadeInDown - 上から - */

.fadeInDown {
  left: 7%;
  animation-name: fadeInDownAnime;
  animation-delay: 1s;
}

@keyframes fadeInDownAnime {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  80% {
    opacity: 1;
    transform: translateY(120px);
  }

  100% {
    opacity: 0;
    transform: translateY(320px);
  }
}

/* fadeInRight - 右から - */

.fadeInRight {
  top: 34%;
  animation-name: fadeInRightAnime;
  animation-delay: 1s;
}

@keyframes fadeInRightAnime {
  0% {
    opacity: 0;
    transform: translateX(750px);
  }
  80% {
    opacity: 1;
    transform: translateX(580PX);
  }
  100% {
    opacity: 0;
    transform: translateX(380px);
  }
}

/* fadeInLeft - 左から - */

.fadeInLeft {
  top: 54%;
  animation-name: fadeInLeftAnime;
  animation-delay: 1s;
}

@keyframes fadeInLeftAnime {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  80% {
    opacity: 1;
    transform: translateX(-80px);
  }

  100% {
    opacity: 0;
    transform: translateX(120px);
  }
}

/* fadeInUp - 下から - */
.fadeInUp {
      left: 50%;
  animation-name: fadeInUpAnime;
  animation-delay: 1s;
}

@keyframes fadeInUpAnime {
  0% {
    opacity: 0;
    transform: translateY(600px);
  }

  80% {
    opacity: 1;
    transform: translateY(430px);
  }

  100% {
    opacity: 0;
    transform: translateY(230px);
  }
}

.fadeInTop {
  animation-name: fadeInTopAnime;
  animation-delay: 3s;
}

@keyframes fadeInTopAnime {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.fadeIn1,  /* +150で下から出現 */
.fadeIn2, /* +180で下から出現 */
.fadeIn3 /* +200で下から出現 */ {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

h2 .char {
  animation: charFadeIn 0.2s linear forwards;
}

@keyframes charFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* フェードインして左に流れる */
.fadeInFlow {
  animation: fadeInFlow 2.4s ease-in-out forwards;
}

@keyframes fadeInFlow {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  30% {
    opacity: 1;
    transform: translateX(100%);
  }

  80% {
    opacity: 1;
    transform: translateY(0);
    box-shadow: 0px 0px 0px var(--first-heading-char-coler);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    box-shadow: 3px 3px 1px var(--first-heading-char-coler);
  }
}

/* 時間差でフェードイン */
.fadeInDelay {
  animation: fadeInDelay 1.2s ease-in-out 2.4s forwards;
}

@keyframes fadeInDelay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  /* fade Animation */

  /* fadeInDown - 上から - */

  .fadeInDown {
    animation-name: fadeInDownAnime;
  }

  @keyframes fadeInDownAnime {
    0% {
      opacity: 0;
      top: 25%;
      left: 0;
    }

    80% {
      opacity: 1;
      top: 25%;
      left: 45%;
      transform: translateX(-50%);
    }

    100% {
      opacity: 0;
      top: 25%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  /* fadeInRight - 右から - */

  .fadeInRight {
    animation-name: fadeInRightAnime;
  }

  @keyframes fadeInRightAnime {
    0% {
      opacity: 0;
      top: 38%;
      left: 100%;
    }

    80% {
      opacity: 1;
      top: 38%;
      left: 55%;
      transform: translateX(-50%);
    }

    100% {
      opacity: 0;
      top: 38%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  /* fadeInLeft - 左から - */

  .fadeInLeft {
    animation-name: fadeInLeftAnime;
  }

  @keyframes fadeInLeftAnime {
    0% {
      opacity: 0;
      top: 49%;
      left: 0;
    }

    80% {
      opacity: 1;
      top: 49%;
      left: 45%;
      transform: translateX(-50%);
    }

    100% {
      opacity: 0;
      top: 49%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  /* fadeInUp - 下から - */
  .fadeInUp {
    animation-name: fadeInUpAnime;
  }

  @keyframes fadeInUpAnime {
    0% {
      opacity: 0;
      top: 62%;
      left: 100%;
    }

    80% {
      opacity: 1;
      top: 62%;
      left: 55%;
      transform: translateX(-50%);
    }

    100% {
      opacity: 0;
      top: 62%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  /* フェードインして左に流れる */
  .fadeInFlow {
    animation: fadeInFlow 2.4s ease-in-out forwards;
  }

  @keyframes fadeInFlow {
    0% {
      opacity: 0;
    }

    70% {
      opacity: 1;
      box-shadow: 0px 0px 0px var(--first-heading-char-coler);
    }

    100% {
      opacity: 1;
      box-shadow: 3px 3px 1px var(--first-heading-char-coler);
    }
  }
}
